body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f8f8;
}

header {
    background: #77808a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #77808a;
    ;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.content {
    max-width: 900px;
    margin: 30px auto;
    background: #ecdddd;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
}

#titre {
    text-align: center;
    color: white;
    background-color: #77808a;
}
.container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}


h2 {
    color: #2d8cf0;
    background-color: #cdd7e2;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

ul li:before {
    content: "✔";
    color: #2d8cf0;
    position: absolute;
    left: 0;
}

footer {
    background: #2d8cf0;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}